<div class="devise-wrapper">
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="devise-header">
      <%= link_to root_path do %>
        <%= image_tag("back_arrow.svg", alt: "Back", width: "25", height: "25") %>
      <% end %>
     
      <h2>SIGN UP</h2>
     
      <div class="actions">
        <%= f.submit "Next", class: "btn next-btn" %>
      </div>
    </div>
  
    <div class="form-content">
      <div class="inputs">
        <div class="picture-section">
          <%= image_tag("profile_placeholder.svg", alt: "profile placeholder", class: "profile-image") %>
          <p>Upload picture</p>
        </div>

        <div class="field">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "form-field form-control" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@example.com", class: "form-field form-control"  %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password: #{@minimum_password_length} characters minimum" , class: "form-field form-control"  %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" , class: "form-field form-control"  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
