<h1>Activities</h1>

<div>
  <h2><%= @category.name %></h2>
  <strong><p>$<%= "%.2f" % @category.total_amount %></p></strong>
</div>

<div id="activities">
  <% if @activities.any?%>
    <% @activities.each do |activity| %>
        <%= render activity %>
    <% end %>
  <% else %>
    <div class="text-center py-3 bg-light border rounded">
      <p class="text-muted mb-0">Empty list, new Activities will show here...</p>
    </div>
  <% end %>
</div>

<%= link_to "New activity", new_category_activity_path(category_id: @category.id) %>
<%= link_to root_path do %>
  <%= image_tag("back_arrow.svg", alt: "Back", width: "20", height: "20") %>
<% end %>
