<!DOCTYPE html>
<html>
  <head>
    <title>Where's The Money</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/style.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <div id="flash-messages">
      <% if notice.present? %>
        <p style="color: white" class="notice"><%= notice %></p>
      <% end %>
      <% if notice.present? %>
        <p style="color: red" class="alert"><%= alert %></p>
      <% end %>
    </div>
      <%= yield %>
  </body>
</html>
